---
language: node_js
node_js:
  # we recommend testing addons with the same minimum supported node version as Ember CLI
  # so that your addon works for all apps
  - "12"

dist: xenial

addons:
  chrome: stable

cache: yarn

env:
  global:
    - JOBS=1

branches:
  only:
    - master
    - /^v\d+\.\d+\.\d+/

jobs:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

  include:
    - stage: "Tests"
      before_install:
        - npm install -g codecov
        - npm install -g @commitlint/travis-cli
        - yarn --version
      script:
        - commitlint-travis
        - yarn lint:js
        - yarn lint:hbs
        - yarn test
        - yarn semantic-release --dry-run --branches=$TRAVIS_BRANCH
      after_success:
        - codecov --file=coverage/lcov.info

    # we recommend new addons test the current and previous LTS
    # as well as latest stable release (bonus points to beta/canary)
    - env: EMBER_TRY_SCENARIO=ember-lts-3.20
    - env: EMBER_TRY_SCENARIO=ember-lts-3.24
    - env: EMBER_TRY_SCENARIO=ember-release
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary
    - env: EMBER_TRY_SCENARIO=ember-default-with-jquery
    - env: EMBER_TRY_SCENARIO=ember-classic
    - env: EMBER_TRY_SCENARIO=embroider-safe
    - env: EMBER_TRY_SCENARIO=embroider-optimized

    - stage: "Release"
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script: yarn semantic-release

before_install:
  - yarn --version

script:
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO

stages:
  - "Tests"
  - "Regression Tests"
  - name: "Release"
    if: branch = master
